/*color: rgb(0, 138, 92); /* logo dark green */


/*color: rgb(60, 165, 118); /* logo light green */


/*color: rgb(145, 143, 144); /* logo gray */


/*color: rgb(25, 74, 44); /* the green i liked */


/*color: rgb(50, 80, 56); */


/*color: rgb(168, 216, 114); */

html {
    scroll-behavior: smooth;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.contact-color:hover {
    opacity: 0.5;
}

.contact-color {
    color: rgb(255, 255, 255);
}

.contact-bar {
    padding-left: 1%;
    padding-right: 1%;
    background-color: rgb(0, 138, 92);
}

.contact-options svg {
    margin: 5px;
}

.logo {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(145, 143, 144);
    margin: 0em;
}

.logo-up {
    font-size: 75%;
}

.logo-down {
    font-size: 125%;
    margin-top: -0.5em;
}

.langs svg {
    margin: 2px;
}

.langs svg:hover {
    opacity: 0.5;
}

.carousel-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel-item:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.landing-box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.landing-box:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.landing-font {
    color: rgb(255, 255, 255);
}

.logo-landing {
    align-content: center;
    margin-bottom: -2em;
}

.landing-text {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: justify
}

.btn-specialize {
    background-color: rgba(0, 138, 92, 0.7);
    color: rgba(255, 255, 255, 0.5);
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.5)
}

.btn-specialize:hover {
    color: rgba(60, 165, 118, 1);
    color: rgb(255, 255, 255);
    border-width: 1px;
    border-color: rgba(145, 143, 144, 1);
}

.address:hover {
    opacity: 0.5;
}

.nowrap {
    white-space: nowrap;
}

.service-pict {
    align-content: center;
    height: 50%;
}

.service-pict:hover {
    opacity: 0.5;
}

.heading {
    margin: 3em;
    ;
}

#gmap {
    height: 100%;
    margin-left: -1%;
    /* padding-bottom: 1.5em; */
}

.footer-bar {
    padding-left: 1%;
    padding-right: 1%;
    background-color: rgb(0, 138, 92);
    color: rgb(255, 255, 255);
    align-content: center;
}

.footer {
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
}

.footer-logo-up {
    font-size: 150%;
}

.footer-logo-down {
    font-size: 250%;
    margin-top: -0.6em;
    line-height: 90%;
}

.footer-bar a {
    color: rgb(255, 255, 255);
}

.footer-logo {
    max-width: 100%;
}

* {
    /* font-family: 'Times New Roman', Times, serif; */
    font-size: 100%;
}

.carousel .item {
    height: 300px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}